<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<script>
    function practiceResponse(){
        const checked = document.querySelectorAll('input[type="checkbox"][name="favorite"]:checked');
        const list = [...checked].map((res)=>res.value);
        var form = document.getElementById('myForm');
        axios.post(`/practiceResponse`, {
        name: form.name.value,
        gender: form.gender.value,
        year: form.year.value,
        month: form.month.value,
        day: form.day.value,
        favorite: list
    }).then((res)=>{
        console.log("이름 : "+ res.data.name);
        console.log("성별 : "+ res.data);
        console.log("생년월일 : "+ res.data.year+ "-"+ res.data.month+ "-"+ res.data.day);
        console.log("관심사 : "+ res.data.favorite);
    });
}
</script>
<h2>폼 전송 실습</h2>
    <form id = "myForm" action="/post/practiceResult" method="post">
        이름 : <input type="text" name="name"><br/>
        성별 :
        <input type="checkbox" name="gender" id="men" value="남자">남자
        <input type="checkbox" name="gender" id="women" value="여자">여자 <br>
        생년월일 :
        <select name="year">
            <option value="2023">2023</option>
        </select>년
        <select name="month"> <option value="10">10</option></select>월
        <select name="day"> <option value="31">31</option></select>일<br>
        관심사 :
        <input type="checkbox" name="favorite" value="여행">여행
        <input type="checkbox" name="favorite" value="패션">패션
        <input type="checkbox" name="favorite" value="음식">음식
        <button type="button" onclick="practiceResponse();">회원가입</button>
    </form>
<button onclick="practiceResponse();">연결하기</button>



</body>
</html>